{% extends 'mobile/fr/registration/anonymous.html' %}

{% block btnconnect %}Do you want to sign up?{% endblock %}

{% block login-username-placeholder %}Username{% endblock %}

{% block login-password-placeholder %}Password{% endblock %}

{% block login-submit %}Log in{% endblock %}

{% block langue-link1 %}<a href="/accounts/anonymous/fr/" class="mt-4 text-center" >Traduction Français</a>{% endblock %}

{% block placeholder_signup_username %}Username{% endblock %}

{% block placeholder_signup_contact %}Phone number or email address{% endblock %}

{% block placeholder_signup_password1 %}Password{% endblock %}

{% block placeholder_signup_password2 %}Repeat the password{% endblock %}

{% block signup-submit %}Let's start{% endblock %}

{% block langue-link %}<a href="/accounts/anonymous/fr/" class="mt-4 text-center" >Traduction Français</a>{% endblock %}

{% block finished_publications_q %}No more publicationfor this search{% endblock %}

{% block empty_publications_q %}No result{% endblock %}

{% block empty_publications %}No more public publication{% endblock %}

{% block placeholder_q %}Search...{% endblock %}




