{% extends 'pc/fr/interface/user.html' %}


{% block recent_notifications %}Recent notifications{% endblock %}

{% block accept %}Accept{% endblock %}

{% block no %}Refuse{% endblock %}

{% block delete %}Delete{% endblock %}

{% block no_note %} Your best friend has nothing to prevent you {% endblock %}

{% block save_mynote %}Save{% endblock %}

{% block builddreamteam %}  Build your dream team {% endblock %}

{% block profil %} Profile {% endblock %}

{% block massage_title %} How do you find Kichichi? {% endblock %}

{% block send_message %} Send {% endblock %}

{% block noone %}No one as this username{% endblock %}

{% block placeholder_mynote %}Tell your best friend about an event, a news or whatever he must know or not forget.{% endblock %}