{% load static %}

<link rel="stylesheet" href="{% static 'css/bases/mobile/bottom.css' %}">

<div class="fixed-bottom text-center bg-light row">
    <label id="label1" class="col-3 pt-2 pb-1 active"><img src="{% static 'images/263115.png' %}" alt="" srcset=""></label>
    <label id="label2" class="col-3 pt-2 pb-1"><img src="{% static 'images/mail.png' %}" alt="" srcset=""></label>
    <label id="label3" class="col-3 pt-2 pb-1"><img src="{% static 'images/130958.png' %}" alt="" srcset=""></label>
    <label id="label4" class="col-3 pt-2 pb-1"><img src="{% static 'images/118781.png' %}" alt="" srcset=""></label>
</div>

<script src="{% static 'js/mobile/standard/bottom.js' %}"></script>