{% load static %}


<div class="container publication_block mb-4" id="publication_container{{ publication.id}}">
    <div class="publication_header">

        <img src="{{ publication.profil.url }}" class="publication_profil ml-4 mr-4" alt="">
        <span class="publication_username mr-4">{{ publication.publishedby }}</span>

    </div>
    <div class="publication_title">
        <blockquote class="mt-4">
            {{ publication.text }}
            <br>
            {% if publication.file %}
                {% if lang == 'fr' %}
                    <strong>Taille: {{ publication.size }} Mo</strong>
                {% else %}
                    <strong>Size: {{ publication.size }} Mo</strong>
                {% endif %}
            {% endif %}
        </blockquote>
        <hr>
    </div>

    <div class="publication_quote">
       {% if '.mp3' in publication.file.url or '.aac' in publication.file.url or '.MP3' in publication.file.url or '.AAC' in publication.file.url %}
    <audio src="{{ publication.file.url }}" class="form-control mt-2" controls preload="metadata"></audio>
        {% elif '.mp4' in publication.file.url or '.MP4' in publication.file.url  %}
        <video src="{{ publication.file.url }}" class="form-control mt-2" controls preload="metadata"></video>
        {% else %}
        <img src="{{ publication.file.url }}" class="form-control mt-2" alt="">
        {% endif %}
    </div>
    <hr>
    <div class="publication_appreciation mt-4 row">
        <div class="col-6" id="tokoss">

            <form action="" class="" id="{{ publication.id }}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="publication_id"  value="{{ publication.id }}">
            <button type="submit" class="ml-4 mr-2">
                {% if request.user in publication.likers.all %}
                <img src="{% static 'images/tokoss/tokoss.png' %}" id="tokoss_img{{ publication.id }}" alt="">
                {% else %}
                <img src="{% static 'images/tokoss/not_tokoss.png' %}" id="tokoss_img{{ publication.id }}" alt="">
                {% endif %}
            </button>
            <span id="tokoss{{ publication.id }}" >{{ publication.likes_number }} Tokoss  </span>
        </form>


        </div>



            {% if request.user.username == publication.publisher.username %}
        <div class="col-6" id="share">
                <form action="/publication/delete/" id="delete-form" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ publication.id }}">
                    <button type="submit"><img src="{% static 'images/no.png' %}" alt=""><span class="ml-4 mr-2">{% if lang  == 'fr' %}Supprimer{% else %}Delete{% endif %}</span></button>
                </form>
         </div>
            {% endif %}
       {% if not request.user.username == publication.publisher.username %}
        <div class="col-6 inappropriate" id="inappropriate{{ publication.id }}">

            <form action="{{ publication.id }}" method="POST">
                {% csrf_token %}
            <input type="hidden" name="id"  value="{{ publication.id }}">

            <span class="ml-4 mr-2"> <button type="submit"><img src="{% static 'images/tokoss/Inappropriate.png' %}" alt=""></button> </span>
            {% if lang == 'fr' %}Inapproprié{% else %}Incorrect{% endif %}
            </form>
        </div>
        {% endif %}

    </div>

    <div class="mt-4 title_notifications comment_header">
           <span id="comment_count{{ publication.id }}" class="lire{{ publication.id }}" > {{ publication.comments_set.count }}   {% if lang == 'fr' %}commentaires {% else %} comments {% endif %}</span>
    <div id="comments{{ publication.id }}" class="comments mt-2 mb-2">

        {% for comment in publication.comments_set.all %}

        {% if forloop.first %}



           <h6 id="comment_by{{ publication.id }}" ><strong>{{ comment.comment_by }}</strong></h6>

           <div class="mt-2 commentaire ml-4" id="comment_comment{{ publication.id }}" >
                {{ comment.comment }}
                <hr>
           </div>
            {% endif %}

        {% empty %}
        <img src="" class="mr-4 comment_img" id="comment_img{{ publication.id }}" alt=""> <span id="comment_by{{ publication.id }}" ></span>
           <div class="ml-4" id="comment_comment{{ publication.id }}" >

           </div>
        {% endfor %}
    </div>
    <div class="commentaire">
    <form action="" id="comment{{ publication.id }}"  class="mt-2" method="post">
        {% csrf_token %}
        <input type="hidden" name="publication_id"  value="{{ publication.id }}">
        <input type="hidden" name="type" class="{{ publication.id }}"  value="follow">
        <input type="text" id="input_comment{{ publication.id }}" class="form-control" name="comment" placeholder="{% if lang == 'fr' %}Ecrivez un commentaire...{% else %}Write a comment...{% endif %}" maxlength="70" required>
    </form>
</div>
    </div>
</div>