{% extends 'mobile/fr/profil/soneprofil.html' %}

{% block cancel_request %}Cancel request{% endblock %}

{% block retirer_request %}Out of dream team{% endblock %}

{% block add_dreamteam %}Add to dream team{% endblock %}

{% block unfollow %}Unfollow{% endblock %}

{% block follow %}Follow{% endblock %}

{% block follower %}Followers{% endblock %}

{% block following %}Followings{% endblock %}

{% block nomore_publication %}No more publications{% endblock %}

{% block empty_publication %}No publication{% endblock %}