{% load static %}

<script>
    var langue = '{{ lang }}';
</script>

<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>

<link rel="stylesheet" href="{% static 'principles/bootstrap.min.css' %}">
<script src="{% static 'principles/jquery.js' %}"></script>
<script src="{% static 'principles/bootstrap.min.js' %}"></script>
<script src="{% static 'principles/popper.js' %}"></script>
{% if request.user.is_authenticated %}
    {% if dreamteam %}
        <script src="{% static 'principles/signals.js' %}"></script>
    {% endif %}
{% endif %}