body {
    padding: 0px;
    margin: 0px;
    padding-top: 72px;
    background-color: whitesmoke;
}
nav h1{
    color: azure;
    font-family: Pacifico, Galada, 'Times New Roman', Times, serif;
}

nav input{
    min-width: 300px;
}

nav a:hover{
    text-decoration: none;
}