/*
the body css is include in the nav include
*/

/*
those styles are for user profile and notifuications
*/
#first_section{
    position: fixed;
    overflow-wrap: break-word;
    overflow: scroll;
    padding-bottom: 200px;
}
#first_section .title_notifications{
    background-color: snow;
    margin-bottom: 15px;
}
.profil_username{
    font-family: Galada, serif;
    font-size: 25px;
}
#first_section img{
    max-width: 200px;
    border-radius: 35%;
}
.title_notifications{
    font-family: Georgia,'Arial Rounded MT Bold', Galada, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.title_notifications span{
    background-color: burlywood;
    border-radius: 30%;
}

.notifications,.important-notification{
    background-color: transparent;
    border-style: solid;
    border: 1px black;
    padding: 10px;
    font-family: 'Californian FB', Courier, monospace;
    word-wrap: break-word;
}
:root{
    --display: none
}
#first_section::-webkit-scrollbar{
   display: var(--display);
   width: 18px;
}
#first_section::-webkit-scrollbar-thumb{
    background: white;
}

/*
this is for the not dream team header
*/
.no_dream_header{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}
#no_dream_core{
    padding: 80px;
    background-color: floralwhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*
this is for the dream team header
*/
#dream_core{
    background-color: floralwhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#dream_core img{
    max-height: 60px;
    border-radius: 70%;
}
#dream_core span{
    font-size: 25px;
    font-family: Galada,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.profil_dream{
    border: 1px solid gray;
}
.no_note{
    background-color: floralwhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    border: none;
}



.team-message-head{
    font-family: Galada,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}