{% load static %}

<link rel="stylesheet" href="{% static 'css/bases/pc/nav.css' %}">

<!-- Begin navbar -->
        <nav class="navbar hidenav bg-success fixed-top">
            <div class="header" id="nav_header">
                <a href="/" id="link_home">
                        <h1>
                          Kichichi
                        </h1>
                </a>
            </div>
            <div class="search_class">
                <form action="/user/search" method="get">
                    <input type="search" class="form-control" name="q" placeholder="{% if lang  == 'fr' %}Rechercher...{% elif lang == 'en' %}Search...{% endif %}" id="search_input" value="{{ request.GET.q }}" required>
                </form>
            </div>
        </nav>
    <!-- end navbar -->